<h2 style="text-align: center; color: navy;">WELCOME <%=user.Name%>&nbsp;</h2>
<img src="<%=user.avatar%>" alt="<%=user.Name%>" width="100">
<br>
<a href="/signout" style="margin:0; margin-left: 48%; width: 4rem; height: 3rem; text-decoration: none; background-color: black; color: white;">Log out</button>