<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav>
        <h2 style="text-align: center;
        background-color: rgb(93,119,169);
        color: white;
        padding: 1rem;">CodeConnect</h2>
    </nav>
    <div style=" background-color: rgb(203,219,239)!important;
    color: black;
    text-align: center;">
        <h4>Hi <%=comment.user.Name%>,your comment just got published!</h4>
        <h4>If you are enjoying our services kindly fill in the feedback form</h4>
        <form action="">
            <input type="text">
            <input type="text">
            <textarea name="" id="" cols="30" rows="10"></textarea>
            <button>Submit</button>
        </form>
        <h3>Thank You for choosing us</h3>
    </div>
</body>
</html>