h5 {
  text-align: left; }
  h5 i {
    margin-right: 5px; }

body {
  background-color: #e7e7e7; }
  body #posts {
    width: 40%;
    margin: auto;
    text-align: center; }
    body #posts input:focus, body #posts textarea:focus {
      outline: none; }
    body #posts textarea {
      width: 98%;
      margin: auto; }
    body #posts input {
      border: none;
      width: 92.3%;
      padding: 2px; }
    body #posts button[data-related="posts-display"], body #posts a[data-related="posts-display"] {
      padding: 3px;
      background-color: black;
      color: white;
      white-space: nowrap;
      text-decoration: none;
      border: 1.59px solid black;
      font-size: 13.3333px;
      border-radius: 6px;
      font-weight: lighter; }
    body #posts button[data-related="posts-display"]:hover, body #posts a[data-related="posts-display"]:hover {
      font-weight: bolder;
      cursor: pointer;
      background-color: lightgrey;
      color: black; }
    body #posts .user-of-post {
      display: flex;
      justify-content: space-between; }
    body #posts #post-form {
      margin-top: 1rem;
      background-color: white;
      padding: 5px;
      border-radius: 10px; }
      body #posts #post-form h5 i {
        margin-left: 7px; }
      body #posts #post-form textarea {
        border: none;
        border-bottom: 1px solid gray;
        resize: none; }
    body #posts #display-posts {
      list-style: none; }
      body #posts #display-posts li {
        margin-top: 1rem;
        background-color: white;
        padding: 5px;
        border-radius: 10px; }
        body #posts #display-posts li p {
          text-align: justify; }
        body #posts #display-posts li .date {
          font-family: 'Courier New', Courier, monospace;
          font-size: small;
          text-align: left; }
        body #posts #display-posts li form {
          margin-top: 0.8rem;
          text-align: left;
          position: relative;
          display: flex;
          justify-content: space-between; }
          body #posts #display-posts li form div {
            display: flex;
            width: 70%;
            border-bottom: 1px solid black; }
          body #posts #display-posts li form .invisible {
            display: none;
            position: absolute;
            background-color: white;
            padding: 5px;
            z-index: 1; }
            body #posts #display-posts li form .invisible .cross:hover {
              cursor: pointer; }
            body #posts #display-posts li form .invisible .heading-comments {
              width: 97%;
              display: inline-block; }
            body #posts #display-posts li form .invisible .comment-content {
              display: flex;
              justify-content: space-between; }
          body #posts #display-posts li form .visible {
            display: block;
            left: 0%;
            width: 100%; }
