body {
  background-image: linear-gradient(to bottom, #3d80bc, #e9e9e9, #b07c55);
  background-repeat: no-repeat;
  background-size: contain;
  width: 100vw;
  height: 100vh; }
  body h2 {
    text-align: center;
    margin-top: 13%; }
  body #take-input {
    width: 42%;
    margin: auto;
    padding: 10px;
    background-color: white;
    text-align: center; }
    body #take-input input:focus {
      outline: none; }
    body #take-input input {
      width: 100%;
      border: none;
      border-bottom: 1px solid black;
      margin-top: 1rem; }
    body #take-input .row {
      display: flex;
      justify-content: space-around; }
      body #take-input .row .col {
        width: 40%; }
    body #take-input button {
      margin-top: 1rem;
      margin-bottom: 0.5rem;
      padding: 5px;
      font-weight: 650; }
    body #take-input button:hover {
      cursor: pointer;
      background-color: darkgray; }
